body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f5f5f5;
}

.menu{
    width:250px;
    background:#1e293b;
    min-height:100vh;
    padding:20px;
    position:sticky;
    top:0;
}

.menu h2{
    color:white;
}

.menu a{
    display:block;
    color:#dbeafe;
    text-decoration:none;
    margin:15px 0;
}

.menu a:hover{
    color:#60a5fa;
}

.contenido{
    flex:1;
    padding:40px;
    background:white;
    margin:20px;
    border-radius:10px;
}

.contenido p{
    text-align:justify;
}

h1{
    color:#1e3a8a;
}

h2{
    color:#2563eb;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}
